%img.title-img{src: '/images/warrior-poets-title.png'}

.engraver-title
  Engraver:
  %span.engraver Mike Brown Sucks Balls - 22.6 pts
.ex-engraver
  Mike Brown Sucks Balls - 30 pts
  %br
  Stern But Fair - 66.6 pts
  %br
  That's a HUGE Vick! - 69.4 pts


.container
  .hero-unit
    %table.table.table-striped.table-hover
      %thead
        %tr
          %th Point Totals
          - (1..Week.last.week).each do |week|
            %th= week
          %th.center Total Points
          %th.center Points Rank
      %tbody
        - teams.each do |team|
          %tr
            %td= team.name
            - team.years.first.weeks.each do |week|
              %td= week.points.truncate(1)
            %td.center= team.years.first.overall_points.truncate(1)
            %td.center= team.years.first.points_rank

  .hero-unit
    %table.table.table-striped.table-hover
      %thead
        %tr
          %th Sidebet Payouts
          - (1..Week.last.week).each do |week|
            %th= week
          %th.center Sidebet Totals
          %th.center Sidebet Rank
      %tbody
        - teams.each do |team|
          %tr
            %td= team.name
            - team.years.first.sort_weeks.each do |week|
              %td{class: "#{indicator(week.ranking, 6)}"}
                = to_currency(week.payout)
            %td.center{class: "#{indicator(team.years.first.overall_sidebets * -1, 0)}"}
              = to_currency team.years.first.overall_sidebets
            %td.center= team.years.first.sidebet_rank
